{% layout "./page.liquid" %}
{% block content %}
<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex justify-between items-center">
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blog</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Here you can read some interesting articles.</p>
        </div>
        {% if  authentication.isAuthenticated %}
            <a href="/create" class="w-12 h-12 inline-flex justify-center items-center gap-2 rounded-full border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-xl dark:focus:ring-offset-gray-800">+</a>
        {% endif %}
    </div>
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 lg:max-w-none lg:grid-cols-3">
        {% for article in data %}
            <article class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex items-center gap-x-4 text-xs">
                    <time datetime="2020-03-16" class="text-gray-500">{{ article.createdAt }}</time>
                    {% for tag in article.tags %}
                        <a href="/?tag={{ tag }}" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="group relative">
                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                        <a href="/{{ article.id }}">
                        <span class="absolute inset-0"></span>
                        {{ article.title }}
                        </a>
                    </h3>
                    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        {{ article.previewText }}
                    </p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                    <img src="{{ article.author.avatar }}" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                    <div class="text-sm leading-6">
                        <p class="font-semibold text-gray-900">
                            <a href="/users">
                                <span class="absolute inset-0"></span>
                                {{ article.author.displayName }}
                            </a>
                        </p>
                    </div>
                </div>
            </article>
        {% else %}
            No articles yet
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}